Flask==3
Gunicorn==23.0.0
Flask-HTTPAuth==4.4.0
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
