{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h2 class="form-title">{{ title }}</h2>
{% if success_message %}
<div class="alert alert-success" role="alert">
    {{ success_message }}
</div>
{% endif %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}
<form method="POST">
    <div class="form-scrollable-area">
        {% for field in fields %}
        <div class="form-group">
            <label for="{{ field.name }}">{{ field.label }}{% if field.required %}<span class="required-star">*</span>{%
                endif %}</label>
            <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" class="form-control"
                placeholder="{{ field.placeholder }}" {% if field.required %} required {% endif %}>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn">
        {{ button_text }}
    </button>
</form>

{% endblock %}

{% block footer %}
<a href="/submissions">Submissions</a> |
<a href="https://github.com/the0mikkel/flask-form">GitHub</a>
{% endblock %}