{% extends "layout.html" %}

{% block title %}{{ title }} - Submissions{% endblock %}

{% block content %}
<h2 class="text-center">Submissions</h2>
<p>
    Total submissions: {{ submissions|length }}
</p>
<div class="form-scrollable-area">
    {% for submission in submissions %}
    <div class="submission-item">
        {% for key, value in submission.items() %}
        <div class="col-12 col-md-6">
            <strong>{{ key }}:</strong> {{ value }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block footer %}
<a href="/">Form</a> |
<a href="https://github.com/the0mikkel/flask-form">GitHub</a>
{% endblock %}